dd.lastpost {
	width: 190px;
}

dd.action {
	width: 140px;
}

.content {
	font-size: 1.3em;
}

.content hr {
	border-top-color: #cccccc;
	margin-top: 0;
}

.postbody p {
	padding-bottom: 0;
}

.topics li {
	padding-left: 3px;
}

#alphabet {
	text-align: center;
}

.kb_codebox {
	word-wrap: normal;
	background-color: #ffffff !important;
	border: none;
	border-radius: 3px;
	float: left;
	width: 100%;
	margin: 0;
}

.kb_codebox input {
	border: none;
	color: #ffffff;
}

.kb_codebox p {
	font-size: 90% !important;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	display: block !important;
	padding-bottom: 0;
}

.kb_codebox hr {
	margin: 0;
}

.kb_codebox code {
	font: 105% Monaco, "Andale Mono", "Courier New", Courier, monospace;
	color: #2e8b57;
	display: inline-block;
	overflow: auto;
	margin-bottom: -5px;
	padding-top: 1px;
}

.buttoncopy {
	font-size: 110%;
	background-color: #e1ebf2;
	border-radius: 3px;
	outline: 0;
	box-shadow: none;
	position: relative;
	margin: 0;
	padding: 4px;
	cursor: pointer;
}

.copied:after {
	font-size: 100%;
	background-color: #115098;
	border-radius: 3px;
	color: #ffffff;
	opacity: 0;
	position: absolute;
	top: 12%;
	left: 110%;
	display: block;
	padding: 2px 4px;
	animation: showcopied 1.5s ease;
	will-change: opacity, transform;
}

@keyframes showcopied {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}

	70% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
	}
}

.alphabet {
	background: #7c8790;
	border-radius: 3px;
	color: #ffffff;
	padding: 1px 4px 2px;
}

.red {
	color: #aa0000 !important;
}

.green {
	color: #00801d !important;
}

.blue {
	color: #105289 !important;
}

.orange {
	color: #ff6600 !important;
}
